{% extends 'base.html' %}

{% block content %}

<hr>
<h3>Delete Confirmation</h3>
<div class="new-item">
  <a href="/reservations/new"><button>New Reservation</button></a>
</div>
<hr>
<main class='res-content'>

  <form action="/reservations/{{ reservation.id }}/delete", method='POST'>
    <section id='checkin'>
      <div>
        <p value='{{reservation.id}}'>Current Date: {{reservation.arrival_date}}</p>
      </div>
      <div>   
        <p value='{{reservation.id}}'>Current Date: {{reservation.departure_date}}</p>
      </div>
      <div>
        <label for="name">Guest:</label>
        <span value="{{guest.id}}">{{guest.name}}</span>
      </div>
      <div id='delete'>
        <input type="submit" value='Delete'>
      </div>
    </section>
  </form>

{% if reservations == [] %}
  <p>No In House Guests</p>
{% endif %}
</main>
{% endblock  %}