{% extends 'base.html' %}

{% block content %}
<hr>
<h3>Update Reservation</h3>
<hr>

<main class='content-new'>

  <form action="/reservations/{{ reservation.id }}", method='POST'>
    <section id='new-res'>
      <div id='arr_date'>
        <label for="arrival_date">Arrival Date</label>
        <input type="date" name="arrival_date" id="arrival_date" required>
        <p value='{{reservation.id}}'>Current Date: {{reservation.arrival_date}}</p>
      </div>
      <div id='dep-date'>
        <label for="departure_date">Departure Date</label>
        <input type="date" name="departure_date" id="departure_date" required>
        <p value='{{reservation.id}}'>Current Date: {{reservation.departure_date}}</p>
      </div>
      <div id='new-res-name'>
        <label for="name">Guest:</label>
        <select name="guest_id" id="name">
          {% for guest in guests %}
            <option {% if reservation.guest.id==guest.id %}selected{% endif %}
            value="{{guest.id}}">{{guest.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div id='new-res-room'>
        <label for="room">Room:</label>
        <select name="room_id" id="room">
          {% for room in rooms %}
            <option {% if reservation.room.id==room.id %}selected{% endif %}
            value="{{room.id}}">{{room.room_number}}</option>
          {% endfor %}
        </select>
      </div>
      <div id='new-res-status'>
        <label for="status">Status</label>
        <select name="status" id="status">
          <option value="Incoming"
          {% if reservation.status=="Arrival" %}selected{% endif %}>Arrival</option>
          <option value="Checked In"
          {% if reservation.status=="Checked In" %}selected{% endif %}>Checked In</option>
          <option value="Departed"
          {% if reservation.status=="Departed" %}selected{% endif %}>Departed</option>
        </select>
      </div>
      <div id='new-res-button'>
        <input type="submit" value='Save Changes'>
      </div>
    </section>
  </form>
</main>
  

{% endblock  %}