{% extends 'base.html' %}

{% block content %}
<hr>
<h3>New Reservation</h3>
<hr>

<main class='content-new'>
 
  <form action="/reservations", method='POST'>
    <section id='new-res'>
      <div id='arr_date'>
        <label for="arrival_date">Arrival Date:</label>
        <input type="date" name="arrival_date" id="arrival_date" required>
      </div>
      <div id='dep-date'>
        <label for="departure_date">Departure Date:</label>
        <input type="date" name="departure_date" id="departure_date" required>
      </div>
      <div id='new-res-name'>
      <label for="name">Select Name:</label>
        <select name="guest_id" id="name">
          {% for guest in guests %}
            <option value="{{guest.id}}">{{guest.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div id='new-res-room'>
        <label for="room">Room:</label>
        <select name="room_id" id="room">
          {% for room in rooms %}
            <option value="{{room.id}}">{{room.room_number}}</option>
          {% endfor %}
        </select>
      </div>
      <div id='new-res-status'>
        <label for="status">Status</label>
        <select name="status" id="status">
          <option value="Arrival">Arrival</option>
          <option value="Checked In">Checked In</option>
        </select>
      </div>
      <div id='new-res-button'>
        <input type="submit" value="Create Reservation">
      </div>
      
    </section>
  </form>
</main>
{% endblock  %}