{% extends 'base.html' %}

{% block content %}

<h3>New Reservation</h3>

<form action="/reservations", method='POST'>
  <div>
    <div>
      <label for="arrival_date">Arrival Date</label>
      <input type="date" name="arrival_date" id="arrival_date" required>
      <label for="departure_date">Departure Date</label>
      <input type="date" name="departure_date" id="departure_date" required>
    </div>
    <div>
     <label for="name">Select Name:</label>
      <select name="guest_id" id="name">
        {% for guest in guests %}
          <option value="{{guest.id}}">{{guest.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="room">Room:</label>
      <select name="room_id" id="room">
        {% for room in rooms %}
          <option value="{{room.id}}">{{room.room_number}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="status">Status</label>
      <select name="status" id="status">
        <option value="Incoming">Incoming</option>
        <option value="Checked In">Checked In</option>
        <option value="Departed">Departed</option>
      </select>
    </div>
    <input type="submit" value="Create Reservation">
  </div>
</form>

{% endblock  %}