{% extends 'base.html' %}

{% block content %}
<hr>
<h3>All Reservations</h3>
<div class="new-item">
  <a href="/reservations/new"><button>New Reservation</button></a>
</div>
<hr>
<main class='res-content'>
{% for reservation in reservations %}
<section class='details'>
  <p id='res-number'>Res #: {{reservation.id}} - <span>{{reservation.status}}</span></p>
  <a href="/guests/{{reservation.guest.id}}/preferences"><p id='res-name'>Name: {{reservation.guest.name}}  <i class="fa fa-arrow-circle-right fa-1x" aria-hidden="true"></i></p></a>
  <p id='res-stay'>Stays: {{reservation.guest.stays}}</p>
  <p id='res-arr'>Arrival: {{reservation.arrival_date}}</p>
  <p id='res-dep'>Departure: {{reservation.departure_date}}</p>
  <p id='res-room'>Room #: {{reservation.room.room_number}}</p>
  
    {% if reservation.status == "Arrival" %}
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/checkin" value='checkin'>
        <button id='check'>Check In</button>
      </form>
    </div>
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/edit" value='edit'>
        <button id='edit'>Edit</button>
      </form>
    </div>
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/delete">
        <input type="submit" value="Delete">
      </form>
    </div>
    {% endif %}
   
    {% if reservation.status == "Checked In" %}
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/departed" value='departed'>
        <button id='check'>Check Out</button>
      </form>
    </div>
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/edit" value='edit'>
        <button id='edit'>Edit</button>
      </form>
    </div>
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/delete" method="POST" hidden>
        <input type="submit" value="Delete">
      </form>
    </div>
    {% endif %}

    {% if reservation.status == "Departed" %}
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/checkin" value='checkin' hidden>
        <button id='check'>Check In</button>
      </form>
    </div>
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/edit" value='edit' hidden>
        <button id='edit'>Edit</button>
      </form>
    </div>
    <div class='res-buttons'>
      <form action="/reservations/{{reservation.id}}/delete" method="POST" hidden>
        <input type="submit" value="Delete">
      </form>
    </div>
    {% endif %}

</section>
{% endfor %}

{% if reservations == [] %}
  <p>No Bookings</p>
{% endif %}

</main>
{% endblock  %}