{% extends 'base.html' %}

{% block content %}
<hr>
<div class="new-item">
  <a href="/reservations/new"><button>New Reservation</button></a>
</div>
<hr>
<main class='res-content'>
{% for reservation in reservations %}
<section class='details'>
  <p id='res-number'>Res #: {{reservation.id}} - <span>{{reservation.status}}</span></p>
  <p id='res-name'>Name: {{reservation.guest.name}}</p>
  <p id='res-stay'>Stays: {{reservation.guest.stays}}</p>
  <p id='res-arr'>Arrival: {{reservation.arrival_date}}</p>
  <p id='res-dep'>Departure: {{reservation.departure_date}}</p>
  <p id='res-room'>Room: {{reservation.room.room_number}}</p>
  <div class='res-buttons'>
    <form action="/reservations/{{reservation.id}}/edit" value='edit'>
      <button>Edit</button>
    </form>
  </div>
  <div class='res-buttons'>
    <form action="/reservations/{{reservation.id}}/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
  </div>

</section>
{% endfor %}
</main>
{% endblock  %}