{% extends 'base.html' %}

{% block content %}

<hr>
<h3>Delete Confirmation</h3>
<div class="new-item">
  <a href="/rooms/new"><button>New Room</button></a>
</div>
<hr>
<main class='res-content'>

  <form action="/rooms/{{ room.id }}/delete", method='POST'>
    <section id='checkin'>
      <div>
        <label for="name">Room:</label>
        <span value="{{room.id}}">{{room.room_number}}</span>
      </div>
      <div id='delete'>
        <input type="submit" value='Delete'>
      </div>
    </section>
  </form>

{% if reservations == [] %}
  <p>No In House Guests</p>
{% endif %}
</main>
{% endblock  %}