{% extends 'base.html' %}

{% block content %}
<hr>
<h3>Update Room Features</h3>
<hr>

<main class="content-new-a">
  
  <form action="/rooms/{{ room.id }}", method='POST'>
    <div id='new-name'>
      <div>
        <label for="number">Room Number:</label>
        <input type="number" name="number" id="number" value="{{ room.room_number }}" placeholder="Room Number" required autofocus unique>
      </div>
      <div class='new-input'>
        <input type="submit" value="Save Changes">
      </div>
    </div>
  </form>
</main>  
{% endblock  %}