{% extends 'base.html' %}

{% block content %}

<hr>
<h3>Room Administration</h3>
<div class='new-item'>
  <a href="/rooms/new"><button>New Room</button></a>
</div>
<hr>
<main class="content">
{% for room in rooms %}
<div id='container'>
  <header>
    <p>Room #: {{room.room_number}}</p>
    <p>Capacity: {{room.remaining_capacity}}</p>
  </header>
  
  <div class="change-buttons-room">
    <form action="/rooms/{{room.id}}/edit" value='edit'>
      <button>Edit</button>
    </form>
    <form action="/rooms/{{room.id}}/delete">
      <input type="submit" value="Delete">
    </form>
  </div>
</div>
{% endfor %}
</main>
{% endblock  %}