.new-item {
    display: flex;
    justify-content: center;
}

.new-item > a > button {
    border-radius: 12px;
    height: 30px;
    width: 120px;
}

.new-item > a > button:hover {
    background-color: rgb(52, 228, 252);
    cursor: pointer;
}

#new-name {
    display: grid;
    justify-items: center;
}

.new-input {
    padding: 10px 0px
}

.new-input > input {
    border-radius: 12px;
    height: 30px;
    width: 100px;
}

.new-input > input:hover {
    background-color: rgb(52, 228, 252);
    cursor: pointer;
}


.content {
    display: grid;
    overflow: scroll;
    height: 600px;
    justify-content: center;
    border: 3px solid black;
    color: white;
    margin: 5px;
}

.names {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    grid-template-areas: 
    "img name button"
    "img stay button";
    margin: 10px 0px;
    width: 100%;
    column-gap: 10px;
    padding: 10px;
    border: 1px black solid;
}

.names > h4 {
    margin-bottom: 0;
    grid-area: name;
}

.names > p {
    margin-top: 0;
    grid-area: stay;
}

.names > img {
    height: 100px;
    grid-area: img;
}

.change-buttons {
    grid-area: button;
    display: grid;
    align-content: center;
    justify-self: center;
} 

.change-buttons > form {
    justify-content: flex-end;
    height: max-content;
    margin: 2px 0px;
}

.change-buttons > form > button {
    height: 30px;
    width: 80px;
    margin-top: 0px;
    border-radius: 12px;
    background-color: rgb(52, 252, 159);
}

.change-buttons > form > input {
    height: 30px;
    width: 80px;
    border-radius: 12px;
    background-color: brown;
}

.change-buttons > form > button:hover {
    background-color: rgb(106, 236, 0);
    cursor: pointer;
}

.change-buttons > form > input:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.content > h3 {
    text-align: center;
}