@media (max-width: 550px) {

    #title {
        max-height: 95%;
    }

    #header > h1 {
        margin-top: 70px;
    }

    #stats {
        margin-top: 50px;
    }

    .res-content {
        max-height: 83%;
    }
    
    .details {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        height: 250px;
        justify-self: center;
    }

    .details-inh {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        height: 250px;
    }

    .details-inh > img {
        height: 0px;
        align-self: flex-end;
        margin-top: 20px;
    }

    .res-button {
        display: flex;
        flex-direction: row;
    }

    .names {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 2;
        grid-template-areas: 
        "img name button"
        "img stay button";
        margin: 10px 0px;
        width: 100%;
        padding: 5px;
        border: 1px black solid;
    }

    .names > img {
        height: 90px;
    }

    #check {
        height: 120px;
        width: 90px;
    }

    #edit {
        width: 90px;
    }

    .res-buttons > form > input {
        width: 90px;
    }
}   
