.res-content {
    display: grid;
    overflow: scroll;
    height: 600px;
    justify-content: center;
    border: 3px solid black;
    color: white;
    margin: 5px;
    align-content: flex-start;
}

.details {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 3;
    grid-template-areas: 
    "num arr check"
    "name dep edit"
    "stay room del";
    margin: 10px 0px;
    width: 100%;
    column-gap: 10px;
    border: 1px black solid;
    padding: 10px;
    height: max-content;
}

.details-inh {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 2.5fr 1fr;
    grid-template-rows: 3;
    grid-template-areas: 
    "img num arr check"
    "img name dep dep"
    "img stay room edit";
    margin: 10px 0px;
    width: 100%;
    column-gap: 10px;
    border: 1px black solid;
    padding: 10px;
}

.details-inh > img {
    height: 100px;
    grid-area: img;
    align-self: center;
}

.details-inh > p {
    padding: 5px 10px;
    margin: 0px;
}

.details > p {
    padding: 5px 10px;
    margin: 5px;
}

#res-number {
    grid-area: num;
}

#res-name {
    grid-area: name;
}

#res-stay {
    grid-area: stay;
}

#res-arr {
    grid-area: arr;
    display: flex;
    flex-wrap: wrap;
}

#res-dep {
    grid-area: dep;
    display: flex;
    flex-wrap: wrap;
}

#res-room {
    grid-area: room;
}

.res-buttons {
    align-self: flex-end;
    justify-self: flex-end;
}

#check {
    grid-area: check;
    border-radius: 12px;
    width: 60px;
    height: 50px;
    background-color: rgb(52, 252, 159);
}

.res-buttons > form > button {
    grid-area: edit;
    border-radius: 12px;
    width: 60px;
    align-content: center;
    background-color: rgb(222, 238, 129);
}

.res-buttons > form > input {
    grid-area: del;
    border-radius: 12px;
    width: 60px;
    background-color: brown;
}

#check:hover {
    background-color: rgb(106, 236, 0);
    cursor: pointer; 
}

.res-buttons > form > button:hover {
    background-color: rgb(233, 250, 0);
    cursor: pointer; 
}

.res-buttons > form > input:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.content-new > form {
    display: grid;
    justify-content: center;
}

#new-res {
    display: grid;
    border: 1px black solid;
    width: max-content;
    margin: 5px;

}

#new-res > div {
    padding: 5px
}

#new-res-button > input {
    border-radius: 12px;
    height: 30px;
    width: auto;
}