.res-content {
    display: grid;
    overflow: scroll;
    height: 500px;
    justify-content: center;
    border: 3px solid black;
    color: white;
    margin: 5px;
    align-content: flex-start;
}

.res-content::-webkit-scrollbar {
    display: none;
  }

.details {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 3;
    grid-template-areas: 
    "num name check"
    "arr stay edit"
    "dep room del";
    margin: 10px 0px;
    width: 100%;
    column-gap: 2px;
    border: 1px black solid;
    padding: 10px;
    height: max-content;
    row-gap: 2px;
}

.details-inh {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 2.5fr 1fr;
    grid-template-rows: 3;
    grid-template-areas: 
    "img num name check"
    "img arr stay edit"
    "img dep room del";
    margin: 10px 0px;
    width: 100%;
    column-gap: 2px;
    border: 1px black solid;
    padding: 10px;
    row-gap: 2px;
}

.details-inh > img {
    height: 100px;
    grid-area: img;
    align-self: center;
}

.details-inh > p {
    padding: 5px 0px;
    margin: 0px;
}

.details > a {
    text-decoration: none;
    color: white;
}


.details > p {
    padding: 5px 0px;
    margin: 5px;
}

.details > a > p {
    padding: 5px 0px;
    margin: 5px;
}

.details > a:hover {
    color: greenyellow;
    cursor: pointer;
}

.details-inh > a {
    text-decoration: none;
    color: white;
}

.details-inh > p {
    padding: 5px 0px;
    margin: 5px;
}

.details-inh > a > p {
    padding: 5px 0px;
    margin: 5px;
}

.details-inh > a:hover {
    color: greenyellow;
    cursor: pointer;
}


#res-number {
    grid-area: num;
}

#res-name {
    grid-area: name;
}


#res-stay {
    grid-area: stay;
}

#res-arr {
    grid-area: arr;
    display: flex;
    flex-wrap: wrap;
}

#res-dep {
    grid-area: dep;
    display: flex;
    flex-wrap: wrap;
}

#res-room {
    grid-area: room;
}

.res-buttons {
    align-self: flex-end;
    justify-self: flex-end;
}

#check {
    grid-area: check;
    border-radius: 12px;
    width: 60px;
    height: 50px;
    background-color: rgba(75, 252, 52, 0.733);
}

.res-buttons > form > button {
    grid-area: edit;
    border-radius: 12px;
    width: 60px;
    align-content: center;
    height: 40px;
    background-color: rgb(222, 238, 129);
}

.res-buttons > form > input {
    grid-area: del;
    border-radius: 12px;
    width: 60px;
    height: 40px;
    background-color: brown;
}

#check:hover {
    background-color: rgb(51, 255, 0);
    font-weight: bolder;
    cursor: pointer; 
}

.res-buttons > form > button:hover {
    background-color: rgb(233, 250, 0);
    font-weight: bolder;
    cursor: pointer; 
}

.res-buttons > form > input:hover {
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

.content-new > form {
    display: grid;
    justify-content: center;
}

#new-res {
    display: grid;
    border: 1px black solid;
    width: max-content;
    margin: 5px;

}

#new-res > div {
    padding: 5px
}

#new-res-button > input {
    border-radius: 12px;
    height: 30px;
    width: auto;
}

#checkin {
    justify-content: center;
    width: 300px;
    border: 1px black solid;
    margin: 10px;
    text-align: center;
    padding: 5px;
}

#checkin > div > p {
    margin: 7px;
}

#new-check-button {
    justify-self: center;

}

#new-check-button > input {
    border-radius: 12px;
    width: 90px;
    height: 40px;
    margin: 5px;
    background-color: rgba(75, 252, 52, 0.733);
}

#new-check-button > input:hover {
    background-color: rgb(51, 255, 0);
    font-weight: bold;
    cursor: pointer; 
}

#new-res-room {
    margin: 10px;
}

#delete > input {
    border-radius: 12px;
    width: 60px;
    height: 40px;
    background-color: brown;
    margin: 5px;
}

#delete > input:hover {
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

#new-res-name > select {
    border-radius: 12px;
    height: 30px;
}