#container {
    display: grid;
    justify-content: center;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
 }
 
 #container > header {
   display: flex;
   flex-direction: column;
    align-self: center;
    font-size: 18px;
    text-align: center;
 }

 #container > header >p {
   margin: 0px;
   padding: 5px;
}
 
 .change-buttons-room {
    display: flex;
    align-self: center;
    padding: 0px 10px;
 } 
 
 .change-buttons-room > form {
    padding: 0px 5px;
 } 
 
 .change-buttons-room > form > button {
    border-radius: 12px;
    height: 30px;
    width: 80px;
    background-color: rgb(222, 238, 129);
 } 
 
 .change-buttons-room > form > input {
    border-radius: 12px;
    height: 30px;
    width: 80px;
    background-color: brown;

 } 
 
 .change-buttons-room > form > button:hover {
    background-color: rgb(233, 250, 0);
    font-weight: bolder;
    cursor: pointer;
 } 
 
 .change-buttons-room > form > input:hover {
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: pointer;
 } 
 
.content-new {
    text-align: center;
    height: 600px;
    border: 3px solid black;
    color: white;
    margin: 5px;
 }

 .content-new-a {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 600px;
    border: 3px solid black;
    color: white;
    margin: 5px;
 }

 .content-new-a > form {
    height: max-content;
    border: 1px solid black;
    width: max-content;
    padding: 5px;
    margin: 10px;
   
 }

#new-room > input {
    width: 90px;
 }