body {
    background-color:rgb(36, 96, 124);
    height: 575px;
    max-width: auto;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

#logo {
    color: white;
    background-color: brown;
    width: max-content;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    padding: 20px;
    padding-bottom: 15px;
    margin: 5px;
    border-radius: 12px;
    border: 2px solid white;
}

.quick-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quick-links > a {
    padding: 0px 5px;
}

.quick-links > a > button {
    width: 130px;
    border-radius: 12px;
    height: 40px;
    font-weight: bolder;
}

.quick-links > a > button:hover {
    background-color: rgb(52, 228, 252);
    cursor: pointer;
}

#title {
    text-align: center;
    height: 100%;
    margin: 5px;
    color: white;
    border: 3px solid black;
    padding: 5px;
}

#header {
    display: grid;
}

#header > h1 {
    margin-top: 150px;
    margin-bottom: 5px;
}

#header > h2 {
    margin: 0px;
}

h3 {
    text-align: center;
    color: white;
    margin: 5px 0px;
}

#stats {
    border: 2px black solid;
    width: 200px;
    padding: 5px;
    align-items: baseline;
    height: max-content;
    margin: 100px auto;
    text-align: center;
}

#stats > p > a {
    text-decoration: none;
    color: white;
}

#stats > p > a:hover {
    color: greenyellow;
    font-weight: bold;
}

#stats > p > a > i {
    padding-left: 10px;
}

