<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='guest.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='reservation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Honest Hotel</title>
</head>
<body>
  <header>
    <!-- <div id='logo'><img src="https://elementalwellnesscoaching.files.wordpress.com/2013/06/honest.gif" alt=""></div> -->
    <h1 id='logo'>Honest Hotel</h1>
    
  </header>
  <nav class='quick-links'>
    <a href="/"><button>Home</button></a>
    <a href="/guests"><button>Guests</button></a>
    <a href="/reservations"><button>All Reservations</button></a>
    <a href="/reservations/arrivals"><button>Arrivals</button></a>
    <a href="/reservations/inhouse"><button>In House</button></a>
    <a href="/rooms"><button>Rooms</button></a>
  </nav>

  {% block content %}
    
  {% endblock  %}

  
</body>
</html>