{% extends 'base.html' %}

{% block content %}
<main id='title'>
  <header id='header'>
    <h1>Welcome to The Honest Hotel</h1>
    <h2>Here to accomodate with honesty</h2>  
  </header>
  <section id='stats'>
    
    <p><a href='reservations/arrivals'>Arrivals: {{arrivals}} <i class="fa fa-arrow-circle-right fa-1x" aria-hidden="true"></i>
    </a></p>
    <p><a href='reservations/inhouse'>Departures: {{departures}} <i class="fa fa-arrow-circle-right fa-1x" aria-hidden="true"></i>
    </a></p>
    <p>Cur Occ: {{current_occupancy}}%</p>
    <p><a>Exp Occ: {{expected_occupancy}}%</a></p>
  </section>
</main>


  
{% endblock  %}